---
---
$header-bg-color: #7E2553;
$header-bg-color-secondary: #FFA300;
$section-headings-color: #ffa300;
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opcaity: 1;
    transform: translateY(0px);
  }
}
.fadeIn {
  animation: fadeIn 1s;
}
@import "{{ site.theme }}";
