---
---
:root{
  --bg-color: none;
  --bg-color-secondary: none;
  --section-headings-color: none;
}
$header-bg-color: var(--bg-color);
$header-bg-color-secondary: var(--bg-color-secondary);
$section-headings-color: var(--section-headings-color);
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveUp {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0px);
  }
}
.appear {
  animation: fadeIn 1s, moveUp 0.5s;
}
@import "{{ site.theme }}";
